<h1><center>Tutorial 1</center></h1>
<h2><center>SYSEN 5888 Deep Learning </center></h2>
<h3><center>Summer 21</center></h3>
<h4><center>Abdulelah Alshehri</center></h4>

## The three cell types:
- Markdown (as this one)
- Code (as the one below)
- Raw Nbconvert (adavnced): (Cells marked as Raw NBConvert Format will be converted in a way specific to the output you're targetting)
### Code cell

In [1]:
import time
# Does not produce any output, just goes to sleep for two seconds! 
time.sleep(2)

In [12]:
1+1+3

5

1. Markdown levels for a better readability of your code!

# This is level 1
## This is level 2
### This is level 3
#### This is level 4



2. Sometimes you want to have lists!
   - Level 1
       * level 2
           - level 3
               * level 4
               
               
               
3. Sometimes images are helpful!

![title](https://news.cornell.edu/sites/default/files/styles/story_thumbnail_xlarge/public/2019-09/0925_rosenblatt_main.jpg?itok=SE0aS7ds)

### Markdown can also have Latex 

\begin{equation*}
\left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)
\end{equation*}

### You can also embed code in markdown!
```python
from pyomo.environ import *
model = Concretemodel()
```

## Shortcuts!

#### Running and saving
- <code> Ctrl + Enter </code> run current cell
- <code> Shift + Enter </code> run current cell and select below
- <code> Alt + Enter </code> run current cell, insert below
- <code> Ctrl + s </code> save

#### Cut, copy, paste

For command mode (press <code>Esc</code> to activate):
- <code>X </code>cut selected cells
- <code>C </code>copy selected cells
- <code>V </code>paste cells below
- <code>Shift + V </code>paste cells above
- <code>A </code>insert cell above
- <code>B </code>insert cell below
- <code>Z </code>undo cell deletion

#### Navigation
- <code>Shift + Space </code> scroll up
- <code>Space </code> scroll down

## Kernels
Every notebook has its own kernel. When you run a cell, the script it contains is run by the kernel. All output is given to the cell that will be shown. The state of the kernel remains over time and between cells; it applies to the entire document rather than individual cells.

![title](https://i.stack.imgur.com/sIB5M.png)

### You can run only three programming languages on jupyter:
1. JUlia
2. PYThon
3. and R



## Alternative to Jupyter? Google Colab!


https://colab.research.google.com/github/lexfridman/mit-deep-learning/blob/master/tutorial_deep_learning_basics/deep_learning_basics.ipynb

- Let's upload this notebook to colab!



# Python Basics

- Let's now brush up on your python knowledge! 
- We will go over the most essential basics of Python to make sure you follow our tutorials going forward!
- We will go over:

* Different Data Types:
    * Numbers
    * Strings
    * Lists
    * Dictionaries
    * Sets
    * Tuples 
    * Booleans

    
* Operators
* if, elif, else Statements
* for and while loops
* range function 
* list processing
* functions
* lambda expressions
* map and filter
* methods

## Data Types 
### Numbers

In [92]:
2

2

In [93]:
1+2

3

In [94]:
1*3

3

In [95]:
1/3

0.3333333333333333

In [96]:
2**3

8

In [97]:
7%2

1

In [98]:
5*5.0

25.0

### Strings

In [99]:
'what is the time'

'what is the time'

In [100]:
'what's the time'

SyntaxError: invalid syntax (<ipython-input-100-22225d3c3bf4>, line 1)

In [101]:
"what's the time"

"what's the time"

### Lists

In [102]:
my_list=[1,2,'Hi']

In [103]:
my_list

[1, 2, 'Hi']

In [104]:
my_list[0]

1

In [105]:
my_list[2]

'Hi'

In [106]:
my_list[3]

IndexError: list index out of range

In [107]:
my_list.append('new element')

In [108]:
my_list[3]

'new element'

In [109]:
my_list[2]='Different Element'

In [110]:
my_list

[1, 2, 'Different Element', 'new element']

In [111]:
#You can nest a list within another
my_other_list=[my_list,5,'Hello']

In [112]:
my_other_list

[[1, 2, 'Different Element', 'new element'], 5, 'Hello']

### Dictionaries

In [115]:
d = {'keyA':'itemA','keyB':3}

In [116]:
d['keyB']

3

In [117]:
myvariables={'x': 1, 'y':2, 'z':4}

In [118]:
myvariables['x']=2

In [119]:
myvariables

{'x': 2, 'y': 2, 'z': 4}

### Sets

In [46]:
{1,2,3,4,5}

{1, 2, 3, 4, 5}

In [47]:
{1,2,3,4,5,5,5,5,5,5,5,5,5}

{1, 2, 3, 4, 5}

### Tuple

In [56]:
# You can't change items, add items, or delete ones!
t = (1,0,3)

In [57]:
t[0]

1

In [58]:
t[0]=4

TypeError: 'tuple' object does not support item assignment

In [59]:
t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

### Booleans

In [60]:
True

True

In [61]:
False

False

### Operators

In [62]:
1>2

False

In [63]:
2<3

True

In [66]:
2==2.0

True

In [68]:
2>=2

True

In [69]:
(1>1) and (2>1)

False

In [70]:
(1>1) or (2>1)

True

In [71]:
(1>1) or (2>2)or (3>3)

False

In [72]:
(1>1) and (2>2)and (3>3)

False

### if, elif, else Statements

In [73]:
if 1>0:
    print('Yes!')

Yes!

In [74]:
if 1>1:
    print('Yes!')
else:
    print('No')

NO

In [75]:
if 1>2:
    print('first')
elif 2 == 2:
    print('second')
else:
    print('Last')

second

### for and while loops

In [77]:
List1 = [1,2,3,4,5]

In [78]:
for item in List1:
    print(item)

1
2
3
4
5

In [79]:
for i in List1:
    print(i)

1
2
3
4
5

In [81]:
for i in List1:
    print('Hi')

Hi
Hi
Hi
Hi
Hi

In [85]:
for i in List1:
    print(i+i)

2
4
6
8
10

In [87]:
j = 1
while j < 10:
    print('j is: {}'.format(j))
    j = j+1

j is: 1
j is: 2
j is: 3
j is: 4
j is: 5
j is: 6
j is: 7
j is: 8
j is: 9

### range function

In [88]:
range(3)

range(0, 3)

In [91]:
for i in range(0, 3):
    print(i)

0
1
2

### List Processing

In [120]:
# This verbose!
list10=[1,2,3,4]
output = []
for item in list10:
    output.append(item**2)
print(output)

[1, 4, 9, 16]

In [121]:
out=[item**2 for item in list10]

In [122]:
out

[1, 4, 9, 16]

### functions

In [125]:
def square(x):
    return x**2

In [126]:
square(3)

9

### Lambda expressions

In [133]:
(lambda var:var**2)(3)

9

### map and filter

In [140]:
SEQ = [1,2,3]

In [142]:
map(square,SEQ)

In [143]:
list(map(square,SEQ))

[1, 4, 9]

### methods

In [134]:
String='Hi my name is Abdul #DeepLearningSU21'

In [136]:
String.lower()

'hi my name is abdul #deeplearningsu21'

In [137]:
String.upper()

'HI MY NAME IS ABDUL #DEEPLEARNINGSU21'

In [138]:
String.split()

['Hi', 'my', 'name', 'is', 'Abdul', '#DeepLearningSU21']

In [139]:
String.split('#')

['Hi my name is Abdul ', 'DeepLearningSU21']

In [144]:
SEQ.append(4)

In [145]:
SEQ

[1, 2, 3, 4]

In [146]:
SEQ.pop()

4

In [150]:
'Hi' in ['Hello','Hey','Hola']

False

In [151]:
1 in [0,5,10,15]

False

# The end!