<h1><center>Tutorial 1 Jupyter Overview and Python Basics</center></h1>
<h2><center>SYSEN/CHEME 5888/6888 Deep Learning </center></h2>
<h3><center>Fall 2023</center></h3>
<h4><center>Anye Shi</center></h4>

Code examples are available in the github https://github.com/PEESEgroup/SYSEN5888-23Fall

Anye Shi as2738@cornell.edu
- Recitation: Friday, PSB120 9:05-9:55 AM
- Office hour: 
    - Tuesday, Olin Hall 232, 12:30 - 1:00 PM (changed)
    - Wednesday, Olin Hall 232, 1:00 - 1:30 PM (unchanged)

## The three cell types:
- Markdown (as this one): 
    - Markdown cells are used for adding text content, explanations, documentation, and formatting to your Jupyter Notebook.
    - You can write in Markdown syntax, which allows you to easily format text, add headers, create lists, include images, and even incorporate LaTeX equations.
    - Markdown cells are useful for providing context, instructions, and insights alongside your code cells.
- Code (as the one below):
    - Code cells are where you write and execute actual code in programming languages, such as Python.
    - Code cells allow you to interactively run code and see the output immediately below the cell.
    - They are the primary interface for writing and executing code within a Jupyter Notebook.
- (adavnced) Cells marked as Raw NBConvert Format: 
    - It's an essential tool for generating various output formats (such as HTML, PDF, LaTeX, slides, and more) from your Jupyter notebooks.

### Code cell

In [1]:
import time
# Does not produce any output, just goes to sleep for two seconds! 
time.sleep(2)

In [2]:
1+1+6

8

1. Markdown levels for a better readability of your code!

# This is level 1
## This is level 2
### This is level 3
#### This is level 4



2. Sometimes you want to have lists!
   - Level 1
       * level 2
           - level 3
               * level 4
               
               
               
3. Sometimes images are helpful!

![title](https://news.cornell.edu/sites/default/files/styles/story_thumbnail_xlarge/public/2019-09/0925_rosenblatt_main.jpg?itok=SE0aS7ds)

### Markdown can also have Latex 

\begin{equation*}
\left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)
\end{equation*}

### You can also embed code in markdown!
```python
from pyomo.environ import *
model = Concretemodel()
```

## Shortcuts!

#### Running and saving
- <code> Ctrl + Enter </code> run current cell
- <code> Shift + Enter </code> run current cell and select below
- <code> Alt + Enter </code> run current cell, insert below
- <code> Ctrl + s </code> save

#### Cut, copy, paste

For command mode (press <code>Esc</code> to activate):
- <code>X </code>cut selected cells
- <code>C </code>copy selected cells
- <code>V </code>paste cells below
- <code>Shift + V </code>paste cells above
- <code>A </code>insert cell above
- <code>B </code>insert cell below
- <code>Z </code>undo cell deletion

#### Navigation
- <code>Shift + Space </code> scroll up
- <code>Space </code> scroll down

## Kernels
Every notebook has its own kernel. When you run a cell, the script it contains is run by the kernel. All output is given to the cell that will be shown. The state of the kernel remains over time and between cells; it applies to the entire document rather than individual cells.

![title](https://i.stack.imgur.com/sIB5M.png)

### You can run only three programming languages on jupyter:
1. JUlia
2. PYThon
3. and R



## Alternative to Jupyter? Google Colab!


https://colab.research.google.com/github/lexfridman/mit-deep-learning/blob/master/tutorial_deep_learning_basics/deep_learning_basics.ipynb

- Let's upload this notebook to colab!



# Python Basics

- Let's now brush up on your python knowledge! 
- We will go over the most essential basics of Python to make sure you follow our tutorials going forward!
- We will go over:

* Different Data Types:
    * Numbers
        - Represents numeric values.
        - Can be integers (whole numbers) or floating-point numbers (decimal numbers).
        - Used for mathematical calculations and operations.
    * Strings
        - Represents sequences of characters, like text.
        - Enclosed in single ('') or double ("") quotes.
        - Used for storing and manipulating textual data.
    * Lists
        - Represents ordered sequences of items.
        - Items can be of any data type, and they are enclosed in square brackets [].
        - Lists are mutable, meaning you can change their content (add, remove, modify elements).
    * Dictionaries
        - Represents key-value pairs.
        - Uses curly braces {} with keys and associated values.
        - Provides a way to access values using their keys.
        - Dictionaries are also mutable.
    * Sets
        - Represents an unordered collection of unique elements.
        - Enclosed in curly braces {}.
        - Does not allow duplicate values.
        - Used for tasks that require testing for membership and eliminating duplicates.
    * Tuples
        - Represents ordered, immutable sequences of elements.
        - Enclosed in parentheses ().
        - Similar to lists, but once created, their content cannot be changed.
        - Used when you need a collection of items that should not be modified.
    * Booleans
        - Represents a binary value, either True or False.
        - Used for logical operations, comparisons, and control flow.
    
* Operators
* if, elif, else Statements
* for and while loops
* range function 
* list processing
* functions
* lambda expressions
* map and filter
* methods

## Data Types 
### Numbers

 Numbers
        - Represents numeric values.
        - Can be integers (whole numbers) or floating-point numbers (decimal numbers).
        - Used for mathematical calculations and operations.

In [75]:
2

2

In [76]:
1+2

3

In [77]:
1*3

3

In [78]:
1/3

0.3333333333333333

In [79]:
2**3
#2 to the third power

8

In [80]:
7%2
#7 divided by 2 equals 3 with a remainder of 1

1

In [81]:
5*5.0

25.0

### Strings

Strings
        - Represents sequences of characters, like text.
        - Enclosed in single ('') or double ("") quotes.
        - Used for storing and manipulating textual data.

In [82]:
'what is the time'

'what is the time'

In [83]:
'what's the time'

SyntaxError: invalid syntax (<ipython-input-83-22225d3c3bf4>, line 1)

In [84]:
"what's the time"

"what's the time"

### Lists

Lists
        - Represents ordered sequences of items. 
        - Items can be of any data types (numbers, strings, list...), and they are enclosed in square brackets [].
        - Lists are mutable, meaning you can change their content (add, remove, modify elements).

In [85]:
my_list=[1,2,'Hi']

In [86]:
my_list

[1, 2, 'Hi']

In [15]:
my_list[0]
# the order of the list starting from 0

1

In [16]:
my_list[2]

'Hi'

In [87]:
my_list[3]

IndexError: list index out of range

In [88]:
my_list.append('new element')

In [89]:
my_list

[1, 2, 'Hi', 'new element']

In [90]:
my_list[3]

'new element'

In [91]:
my_list[2]='Different Element'
#change value

In [92]:
my_list

[1, 2, 'Different Element', 'new element']

In [93]:
#You can nest a list within another
my_other_list=[my_list,5,'Hello']

In [94]:
my_other_list

[[1, 2, 'Different Element', 'new element'], 5, 'Hello']

### Dictionaries

Dictionaries
        - Represents key-value pairs.
        - Uses curly braces {} with keys and associated values.
        - Provides a way to access values using their keys.
        - Dictionaries are also mutable.

In [95]:
d = {'keyA':'itemA','keyB':3}

In [96]:
d['keyB']

3

In [97]:
myvariables={'x': 1, 'y':2, 'z':4}

In [98]:
myvariables['x']=2
#change value

In [99]:
myvariables

{'x': 2, 'y': 2, 'z': 4}

### Sets

Sets
        - Represents an unordered collection of unique elements.
        - Enclosed in curly braces {}.
        - Does not allow duplicate values.
        - Used for tasks that require testing for membership and eliminating duplicates.

In [28]:
{1,2,3,4,5}

{1, 2, 3, 4, 5}

In [29]:
{1,2,3,4,5,5,5,5,5,5,5,5,5}

{1, 2, 3, 4, 5}

### Tuple

Tuples
        - Represents ordered, immutable sequences of elements.
        - Enclosed in parentheses ().
        - Similar to lists, but once created, their content cannot be changed.
        - Used when you need a collection of items that should not be modified.

In [100]:
# You can't change items, add items, or delete ones!
t = (1,0,3)

In [101]:
t

(1, 0, 3)

In [102]:
t[0]

1

In [103]:
t[0]=4

TypeError: 'tuple' object does not support item assignment

In [104]:
t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

### Booleans

Booleans
        - Represents a binary value, either True or False.
        - Used for logical operations, comparisons, and control flow.

In [105]:
True

True

In [106]:
False

False

### Operators

In [107]:
#greater than
1>2

False

In [37]:
#less than
2<3

True

In [108]:
#Use the equality operator (==) to compare the values 2 and 2.0. This operator returns True if the values on both sides are equal, and False otherwise.

2==2.0

True

In [39]:
#Use the greater-than-or-equal-to operator (>=) to compare the values 2 and 2. This operator returns True if the left value is greater than or equal to the right value, and False otherwise.

2>=2

True

In [109]:
#Evaluate two conditions using the logical 'and' operator. The 'and' operator returns True only if both of its operands are True.

(1>1) and (2>1)

False

In [110]:
(1>1) or (2>1)

True

In [42]:
(1>1) or (2>2)or (3>3)

False

In [43]:
(1>1) and (2>2)and (3>3)

False

### if, elif, else Statements

if, elif, and else are control flow statements that allow you to create conditional branches in your code. These statements help you control the execution of different parts of your code based on certain conditions. 

```python
if condition1:
    # Code to execute if condition1 is True
elif condition2:
    # Code to execute if condition2 is True
# ... You can have multiple elif blocks
else:
    # Code to execute if none of the above conditions are True
```

In [111]:
if 1>0:
    print('Yes!')

Yes!

In [112]:
if 1>1:
    print('Yes!')
else:
    print('No')

No

In [113]:
if 1>2:
    print('first')
elif 2 == 2:
    print('second')
else:
    print('Last')

second

### for and while loops

for and while are two types of loops that allow you to repeat a block of code multiple times. They are used to automate repetitive tasks and iterate over sequences of items.
```python
for item in sequence:
    # Code to execute for each item
    
while condition:
    # Code to execute while condition is True
```

In [1]:
List1 = [1,2,3,4,5]

In [2]:
for item in List1:
    print(item)

1
2
3
4
5

In [117]:
for i in List1:
    print(i)

1
2
3
4
5

In [118]:
for print in List1:
    print(i)

TypeError: 'int' object is not callable

In [3]:
for i in List1:
    print('Hi')

Hi
Hi
Hi
Hi
Hi

In [4]:
for i in List1:
    print(i+i)

2
4
6
8
10

In [5]:
j = 1
while j < 10:
    print('j is: {}'.format(j))
    j = j+1

j is: 1
j is: 2
j is: 3
j is: 4
j is: 5
j is: 6
j is: 7
j is: 8
j is: 9

### range function

range() function is a built-in function that generates a sequence of numbers. It's often used in loops, particularly with for loops, to iterate over a specified range of numbers. The range() function can take up to three arguments:

Start (optional): The starting value of the sequence (inclusive). If omitted, the sequence starts from 0.

Stop (required): The ending value of the sequence (exclusive). The sequence will generate numbers up to, but not including, this value.

Step (optional): The step size or the difference between consecutive numbers in the sequence. If omitted, the default step is 1.

The range() function returns an iterable sequence of numbers that you can loop over using a for loop or convert to other data structures like lists using the list() function.

In [53]:
range(3)

range(0, 3)

In [54]:
for i in range(0, 3):
    print(i)

0
1
2

In [55]:
for i in range(0, 8,2):
    print(i)

0
2
4
6

### List Processing

Accessing Elements:
You can access individual elements in a list using indexing. For example:

```python
my_list = [10, 20, 30, 40, 50]
first_element = my_list[0]   # Access the first element (10)
last_element = my_list[-1]   # Access the last element (50)
```

Slicing:
Slicing allows you to extract a sublist from a list by specifying a start and end index. For example:

```python
sub_list = my_list[1:4]   # Get elements at index 1, 2, and 3 (20, 30, 40)
```

Adding and Removing Elements:
You can add elements to the end of a list using the append() method and remove elements using methods like pop() and remove().

```python
my_list.append(60)    # Add 60 to the end
my_list.pop(2)        # Remove element at index 2 (30)
my_list.remove(20)    # Remove the element with value 20
```

Iterating Over Lists:
You can use loops, such as for, to iterate over the elements in a list.

```python
for item in my_list:
    print(item)
```

List Comprehensions:
List comprehensions provide a concise way to create lists based on existing lists or other iterable objects.

```python
squares = [x ** 2 for x in my_list]
```

Sorting and Reversing:
You can sort a list using the sort() method or the sorted() function, and you can reverse the order using the reverse() method.

```python
my_list.sort()         # Sort the list in place
sorted_list = sorted(my_list)   # Create a sorted copy of the list
my_list.reverse()      # Reverse the list in place
```

Finding Elements:
You can find the index of an element using the index() method or check if an element exists in the list using the in operator.

```python
index = my_list.index(40)   # Find the index of 40
exists = 50 in my_list     # Check if 50 is in the list (returns True)
```

In [56]:
# This verbose!
list10=[1,2,3,4]
output = []
for item in list10:
    output.append(item**2)
print(output)

[1, 4, 9, 16]

In [57]:
out=[item**2 for item in list10]

In [58]:
out

[1, 4, 9, 16]

### functions

In [59]:
def square(x):
    return x**2

In [60]:
square(3)

9

### Lambda expressions

lambda expression (also known as a lambda function or anonymous function) is a compact way to define a small, unnamed function without using the def keyword. Lambda expressions are often used for simple operations or as arguments to higher-order functions that expect a function as input.

In [61]:
(lambda var:var**2)(3)

9

### map and filter

map() and filter() are built-in functions that operate on iterables (like lists, tuples, etc.) and provide a concise way to perform transformations and filtering on the elements of these iterables. They both take a function as the first argument and an iterable as the second argument.

map() Function:
The map() function applies a given function to each item in an iterable and returns an iterator that yields the results. It essentially "maps" each element of the iterable through the specified function.

Syntax:
```python
map(function, iterable)
```
Example:
```python
numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x ** 2, numbers)
print(list(squared))  # Output: [1, 4, 9, 16, 25]
```

filter() Function:
The filter() function applies a given function to each item in an iterable and returns an iterator that yields only the items for which the function returns True. It essentially "filters" the elements of the iterable based on the specified function.

Syntax:
```python
filter(function, iterable)
```
Example:
```python
numbers = [1, 2, 3, 4, 5]
evens = filter(lambda x: x % 2 == 0, numbers)
print(list(evens))  # Output: [2, 4]
```

In [12]:
SEQ = [1,2,3]

In [63]:
map(square,SEQ)

In [64]:
list(map(square,SEQ))

[1, 4, 9]

### methods

In [6]:
String='Hi my name is Anye #DeepLearningFall23'

In [7]:
String.lower()

'hi my name is anye #deeplearningfall23'

In [8]:
String.upper()

'HI MY NAME IS ANYE #DEEPLEARNINGFALL23'

In [9]:
String.split()

['Hi', 'my', 'name', 'is', 'Anye', '#DeepLearningFall23']

In [10]:
String.split('#') #divided by hashtag

['Hi my name is Anye ', 'DeepLearningFall23']

In [13]:
SEQ.append(4)

In [14]:
SEQ

[1, 2, 3, 4]

In [15]:
SEQ.pop()
#remove all and keep the last item

4

In [16]:
'Hi' in ['Hello','Hey','Hola']

False

In [17]:
1 in [0,5,10,15]

False

# The end!